@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins";
    color: #fff;
}
body {
    background: linear-gradient(250.59deg, #322c38 0%, #514e61,28.53%,#1c2137 75.52%);
    height: 100vh;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 10%;
    z-index: 100;
    background: linear-gradient(250.59deg, #322c38 0%, #514e61,28.53%,#1c2137 75.52%);
}
.sticky {
    border-bottom: 2px solid rgba(255, 255, 255, .2);
}
.header .logo {
    text-decoration: none;
    font-size: 32px;
    font-weight: 600;
}
.navbar a {
    font-size: 18px;
    text-decoration: none;
    margin-left: 35px;
}
.btn {
    background-color: #514e61;
    outline: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 12px 30px;
    cursor: pointer;
}
section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding: 10rem 9% 2rem;
    overflow: hidden;
}
.home {
    justify-content: center;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    /* background: linear-gradient(250.59deg, #322c38 0%, #514e61,28.53%,#1c2137 75.52%); */
}
.home img{
    height: 500px;
    transition: .5s ease;
    opacity: 1;
}
.home img.active {
    transform: rotate(45deg) translate(500px);
    transition: .5s ease;
    opacity: 0;
}
.about {
    justify-content: center; 
}
.container {
    height: 70vh;
    border: 2px solid rgba(255, 255, 255, .2);
    width: 90%;
    background: linear-gradient(250.59deg, #322c38 0%, #514e61,28.53%,#1c2137 75.52%);
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    overflow: hidden;
}
.container .circle {
    height: 300px;
    width: 300px;
    background: #514e61;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle img {
    height: 200px;
    width: 200px;
    transition: .7s ease;
    transform-origin: top center;
    scale: 0;
}
section.start-animation .circle img {
    scale: 1;
}
.text-content .heading {
    font-size: 45px;
    font-weight: 500;
    transform: translateX(-360px);
}
section.start-animation .text-content1 .heading{
    animation: LeftSlide 1s ease forwards;
}
@keyframes LeftSlide {
    0% {
        transform: translateX(-360px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
.text-content1 h5 {
    font-size: 18px;
    font-weight: 500;
    margin: 10px 0;
    transform: translateX(-360px);
}
section.start-animation .text-content1 h5{
    animation: LeftSlide 1s ease forwards;
    animation-delay: .5s;
}
.text-content p {
    max-width: 350px;
    font-size: 13px;
    /* transform: translateX(-360px); */
}
.text-content1 p {
    transform: translateX(-361px);
}
section.start-animation .text-content1 p{
    animation: LeftSlide 1s ease forwards;
    animation-delay: 1s;
}
.text-content .btn2 {
    margin: 10px 0;
    background: #1c2137;
    transform: translateX(-360px);
    transition: .5s;
}
.text-content .btn2:hover {
    scale: 1.05;
}
section.start-animation .text-content1 .btn2{
    animation: LeftSlide 1s ease forwards;
    animation-delay: 1.5s;
}
.text-content2 p{
    margin: 10px 0;
    font-size: 15px;
    font-weight: 500;
    transform: translateX(382px);
}
section.start-animation .text-content2 p{
    animation: RightSlide 1s ease forwards;
    animation-delay: 1.9s;
}
section.start-animation .text-content2 p:nth-child(2){
    animation-delay: 2.3s;
}
section.start-animation .text-content2 p:nth-child(3){
    animation-delay: 2.7s;
}
@keyframes RightSlide {
    0% {
        transform: translateX(360px);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
.text-content2 span {
    font-size: 13px;
    font-weight: 400;
}

/* New section */
.news {
    background: linear-gradient(250.59deg, #322c38 0%, #514e61,28.53%,#1c2137 75.52%);
    justify-content: space-around;
    flex-direction: column;
}
.news,.guides .heading {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 80px;
    letter-spacing: 1px;
}
.newsbox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 20px;
}
.news-item {
    text-align: center;
    opacity: 0;
    scale: 0;
}
section.start-animation .newsbox1 .news-item:nth-child(1){
    animation: Visibility 1s ease forwards;
}
section.start-animation .newsbox1 .news-item:nth-child(2){
    animation: Visibility 1s ease forwards;
    animation-delay: .5s;
}
section.start-animation .newsbox1 .news-item:nth-child(3){
    animation: Visibility 1s ease forwards;
    animation-delay: 1s;
}
section.start-animation .newsbox2 .news-item:nth-child(1){
    animation: Visibility 1s ease forwards;
    animation-delay: 1.5s;
}
section.start-animation .newsbox2 .news-item:nth-child(2){
    animation: Visibility 1s ease forwards;
    animation-delay: 2s;
}
section.start-animation .newsbox2 .news-item:nth-child(3){
    animation: Visibility 1s ease forwards;
    animation-delay: 2.5s;
}
@keyframes Visibility {
    0% {
        opacity: 0;
        scale: 0;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}
.news-item img {
    border-radius: 10px;
    border: 2px solid rgba(255, 255, 255, .5);
    box-shadow: 0 0 5px #1c2137;
    height: 150px;
    transition: .5s;
    margin-bottom: 10px;
    cursor: pointer;
}
.news-item img:hover {
    scale: 1.05;
}
.news-item p {
    text-align: center;
    /* margin-top: 10px; */
    font-size: 18px;
    user-select: none;
    color: #fff200;
}
.news p:last-child {
    font-size: 12px;
    color: rgba(255, 255, 255, .7);
}

/* guide section */
.guides {
    background: linear-gradient(250.59deg, #322c38 0%, #514e61,28.53%,#1c2137 75.52%);
    flex-direction: column;
}
.guides .heading {
    font-size: 32px;
    font-weight: 500;
}
.video-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.content {
    position: relative;
    opacity: 0;
}
section.start-animation .content:nth-child(1) {
    animation: LeftSlide 1s ease forwards;
}
section.start-animation .content:nth-child(2) {
    animation: RightSlide 1s ease forwards;
}
.content img {
    height: 330px;
    border-radius: 10px;
}
.content i {
    font-size: 90px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

/* footer */

.footer {
    height: 40vh;
    background: black;
    padding: 20px 9% 2rem;
}
.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.item i {
    font-size: 28px;
    margin: 10px 5px;
    cursor: pointer;
    user-select: none;
}
.item p {
    font-size: 13px;
    color: #555;
}
.item .image img{
    height: 50px;
}
.item img:nth-child(2) {
    height: 75px;
}
.footer hr {
    width: 100%;
    height: 1.4px;
    background: rgba(255, 255, 255, .2);
    outline: none;
    border: none;
    margin: 20px 0;
}
.bottomBar {
    display: flex;
    width: 30%;
    justify-content: space-between;
}
.bottomBar a {
    text-decoration: none;
}
.contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contact-details span {
    font-weight: 400;
    color: #999;
}
.contact-details p {
    max-width: 180px;
    color: #999;
    font-size: 12px;
}
